<!DOCTYPE html><html lang="en"><head><title>components/raid-signup</title></head><meta http-equiv="Content-Type" content="text/html; charset=utf-8"><meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"><meta name="groc-relative-root" content="../"><meta name="groc-document-path" content="components/raid-signup"><meta name="groc-project-path" content="app/components/raid-signup.js"><link rel="stylesheet" type="text/css" media="all" href="../assets/style.css"><script type="text/javascript" src="../assets/behavior.js"></script><body><div id="meta"><div class="file-path">app/components/raid-signup.js</div></div><div id="document"><div class="segment"><div class="code"><div class="wrapper">import Ember from <span class="hljs-string">'ember'</span>;

export <span class="hljs-keyword">default</span> Ember.Component.extend({
  classes: <span class="hljs-function"><span class="hljs-keyword">function</span><span class="hljs-params">()</span> {</span>
    <span class="hljs-keyword">var</span> classes = <span class="hljs-string">'class-'</span> + <span class="hljs-keyword">this</span>.get(<span class="hljs-string">'character.class_id'</span>);
    <span class="hljs-keyword">if</span>(<span class="hljs-keyword">this</span>.get(<span class="hljs-string">'preferred'</span>)) {
      classes += <span class="hljs-string">' preferred'</span>;
    }
    <span class="hljs-keyword">return</span> classes;
  }.property(<span class="hljs-string">'signup.character.class_id'</span>),

  actions: {
    unsignup: <span class="hljs-function"><span class="hljs-keyword">function</span><span class="hljs-params">()</span> {</span>
      <span class="hljs-keyword">this</span>.sendAction(<span class="hljs-string">"unsignup"</span>,
                      <span class="hljs-keyword">this</span>.get(<span class="hljs-string">'signup.content'</span>));
    },
    seat: <span class="hljs-function"><span class="hljs-keyword">function</span><span class="hljs-params">(role)</span> {</span>
      <span class="hljs-keyword">this</span>.sendAction(<span class="hljs-string">"seat"</span>,
                      <span class="hljs-keyword">this</span>.get(<span class="hljs-string">'signup.content'</span>),
                      role);
    },
    unseat: <span class="hljs-function"><span class="hljs-keyword">function</span><span class="hljs-params">()</span> {</span>
      <span class="hljs-keyword">this</span>.sendAction(<span class="hljs-string">"unseat"</span>,
                      <span class="hljs-keyword">this</span>.get(<span class="hljs-string">'signup.content'</span>));
    }
  }
});</div></div></div></div></body></html>